<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Hogwarts</title>
</head>
<body>

  <%= yield %>

  <nav>
    <ul>
      <li><a href="/students/new">New Student</a></li>
      <li><a href="/students">All Students</a></li>
    </ul>
  </nav>

</body>
</html>
